<ca>
-----BEGIN CERTIFICATE-----
MIIDxTCCAy6gAwIBAgIJAJ++TYacv1lWMA0GCSqGSIb3DQEBBQUAMIGeMQswCQYD
VQQGEwJDTjELMAkGA1UECBMCQ04xETAPBgNVBAcTCEhvbmdLb25nMRUwEwYDVQQK
EwxGb3J0LUZ1bnN0b24xETAPBgNVBAsTCGluZm9xdWFuMREwDwYDVQQDEwhpbmZv
cXVhbjERMA8GA1UEKRMIaW5mb3F1YW4xHzAdBgkqhkiG9w0BCQEWEGluZm9teUBt
eXNxcS5jb20wHhcNMTMxMDE3MDgwMjQyWhcNMjMxMDE1MDgwMjQyWjCBnjELMAkG
A1UEBhMCQ04xCzAJBgNVBAgTAkNOMREwDwYDVQQHEwhIb25nS29uZzEVMBMGA1UE
ChMMRm9ydC1GdW5zdG9uMREwDwYDVQQLEwhpbmZvcXVhbjERMA8GA1UEAxMIaW5m
b3F1YW4xETAPBgNVBCkTCGluZm9xdWFuMR8wHQYJKoZIhvcNAQkBFhBpbmZvbXlA
bXlzcXEuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDnQJOzyIsPaYVj
5Q640pFkVZ3YqQML7YWV0W3Q66yyQZPxAuuIH9xPgB2gcno7SLOAw2YZt2O+X44i
7KPBIYz2t374lsG56UUdsMGyPWRH9W92RvG7ML9DlS5Xz97PaxMu5bHV3WNkLNJh
rshniwOAtr28mMfGKTW+TTWkFb77ewIDAQABo4IBBzCCAQMwHQYDVR0OBBYEFCGc
Ra9Sgc3UN/byNO56CnKjYMpqMIHTBgNVHSMEgcswgciAFCGcRa9Sgc3UN/byNO56
CnKjYMpqoYGkpIGhMIGeMQswCQYDVQQGEwJDTjELMAkGA1UECBMCQ04xETAPBgNV
BAcTCEhvbmdLb25nMRUwEwYDVQQKEwxGb3J0LUZ1bnN0b24xETAPBgNVBAsTCGlu
Zm9xdWFuMREwDwYDVQQDEwhpbmZvcXVhbjERMA8GA1UEKRMIaW5mb3F1YW4xHzAd
BgkqhkiG9w0BCQEWEGluZm9teUBteXNxcS5jb22CCQCfvk2GnL9ZVjAMBgNVHRME
BTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAOEYIcBv/0EFn9kAfdsrO3GhFVgPDoe9
9j9oOWhlJjw+RFfD3e6ulDaN+38Ay2o0E45fEnc6hxEcSoMT95lVJuy7/BVTy05u
zy44FsJQihUwV/tbsnc/BAfKC9TwLrTQGWiiAX8bR7H1DszrskugCU+qBWX/ltqF
oLp4C8xG0zFR
-----END CERTIFICATE-----
</ca>
<cert> 
-----BEGIN CERTIFICATE-----
MIIDxTCCAy6gAwIBAgIJAJ++TYacv1lWMA0GCSqGSIb3DQEBBQUAMIGeMQswCQYD
VQQGEwJDTjELMAkGA1UECBMCQ04xETAPBgNVBAcTCEhvbmdLb25nMRUwEwYDVQQK
EwxGb3J0LUZ1bnN0b24xETAPBgNVBAsTCGluZm9xdWFuMREwDwYDVQQDEwhpbmZv
cXVhbjERMA8GA1UEKRMIaW5mb3F1YW4xHzAdBgkqhkiG9w0BCQEWEGluZm9teUBt
eXNxcS5jb20wHhcNMTMxMDE3MDgwMjQyWhcNMjMxMDE1MDgwMjQyWjCBnjELMAkG
A1UEBhMCQ04xCzAJBgNVBAgTAkNOMREwDwYDVQQHEwhIb25nS29uZzEVMBMGA1UE
ChMMRm9ydC1GdW5zdG9uMREwDwYDVQQLEwhpbmZvcXVhbjERMA8GA1UEAxMIaW5m
b3F1YW4xETAPBgNVBCkTCGluZm9xdWFuMR8wHQYJKoZIhvcNAQkBFhBpbmZvbXlA
bXlzcXEuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDnQJOzyIsPaYVj
5Q640pFkVZ3YqQML7YWV0W3Q66yyQZPxAuuIH9xPgB2gcno7SLOAw2YZt2O+X44i
7KPBIYz2t374lsG56UUdsMGyPWRH9W92RvG7ML9DlS5Xz97PaxMu5bHV3WNkLNJh
rshniwOAtr28mMfGKTW+TTWkFb77ewIDAQABo4IBBzCCAQMwHQYDVR0OBBYEFCGc
Ra9Sgc3UN/byNO56CnKjYMpqMIHTBgNVHSMEgcswgciAFCGcRa9Sgc3UN/byNO56
CnKjYMpqoYGkpIGhMIGeMQswCQYDVQQGEwJDTjELMAkGA1UECBMCQ04xETAPBgNV
BAcTCEhvbmdLb25nMRUwEwYDVQQKEwxGb3J0LUZ1bnN0b24xETAPBgNVBAsTCGlu
Zm9xdWFuMREwDwYDVQQDEwhpbmZvcXVhbjERMA8GA1UEKRMIaW5mb3F1YW4xHzAd
BgkqhkiG9w0BCQEWEGluZm9teUBteXNxcS5jb22CCQCfvk2GnL9ZVjAMBgNVHRME
BTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAOEYIcBv/0EFn9kAfdsrO3GhFVgPDoe9
9j9oOWhlJjw+RFfD3e6ulDaN+38Ay2o0E45fEnc6hxEcSoMT95lVJuy7/BVTy05u
zy44FsJQihUwV/tbsnc/BAfKC9TwLrTQGWiiAX8bR7H1DszrskugCU+qBWX/ltqF
oLp4C8xG0zFR
-----END CERTIFICATE-----
</cert>
<key>
-----BEGIN RSA PRIVATE KEY-----
MIICWwIBAAKBgQDnQJOzyIsPaYVj5Q640pFkVZ3YqQML7YWV0W3Q66yyQZPxAuuI
H9xPgB2gcno7SLOAw2YZt2O+X44i7KPBIYz2t374lsG56UUdsMGyPWRH9W92RvG7
ML9DlS5Xz97PaxMu5bHV3WNkLNJhrshniwOAtr28mMfGKTW+TTWkFb77ewIDAQAB
AoGABYaXgO5D1GRzGYX5qhTuAHXDRdAUEI7maEQO2bUn9UJ35IRrWF9ahlPLYXAa
15vPHj6NDARDz+K8pLz+1LiWg6sQX2RxJBIVsXWfMOND0y95BPa+UKePbSgwAPHo
hMpnaU4CqA/y7/yk96/2j5z//rd+/4J/UtabGTfUJYPF+1ECQQD7mskazLeMaur6
ynhw6NtJtyaIe098afGXqzAdfe3Kft3V7RZUgtjZd8LmX1lTWGHF+uGkDLmzVhVq
uCGawEH1AkEA60rFvziahRsCG4pE1yem+3YyW4Psisw2Q0oUv4tFMgm9DIFilSNA
hd/17PzntZt5Qt8io9ae8cwSVlVnB6oxrwJAIne36RX2ZyQWgLjP+xfLQrP2cWgD
IZYZ5J8s/j1MIBt1JGNQVc9/CXuglZKmWAaZjleqJaEgp3K5iF8lK1//KQJAKbjP
idHarIGWhRWmkVRJqstRsKKa/h2p/ZKUTUa/1VieuinzNijTFyoYbJaH688O2InC
lbTH6G5cTgzEwTovpwJAYCA3sKbzE/XIKm8ET3CgW7EHr79ukxR7mjyO1qPz4M7+
atQsxuEpyakd6EvMCqqa/wF4MT8qpxNGabHRHbfUNQ==
-----END RSA PRIVATE KEY-----
</key>